{% extends "base.html" %}
{% block sitename %}committee{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="https://static.uoe.photography/css/committee.css">
{% endblock %}

{% block committee_active %}active{% endblock %}

{% block main %}

<div class="jumbotron" style="background-color: inherit;">
  <h1 class="jumbotron-heading display-3">
    {{ page.title }}
  </h1>
  <h2 class="jumbotron-heading text-muted">
      {{ page.sub_title }}
  </h2>
  {{ page.lead|safe }}
</div>

{% for year in years %}
<hr>
<div class="container-fluid pt-2">
  <div class="row px-4">

    <div class="col-lg-3">
      <h1 class="display-2 text-center">{{ year }}</h1>
    </div>
    <div class="col-lg-9">
      <div class="container pt-2">

        <div class="row">
          {% for member in committee[year] %}
          <div class="col text-center mb-4">
            <div class="profile-picture-container">
              <a href="{{ member.photo[1] }}" title="view on Flickr">
                <div class="rounded-circle profile-picture" alt="{{ member.name }}" width="256px" height="256px" style="background-image: url('{{ member.photo[0] }}');"></div>
              </a>
            </div>
            <h2 class="mb-1">{{ member.name }}</h2>
            <h5 class="mb-2"> {{ member.role }} </h5>
            <p>{{ member.text }}{% if member.text_more -%}
              <span>... <a class="expand-button" href="#"> more </a> </span>
              <span style="display:none;">{{ member.text_more }} </span>
            {%- endif %}</p>
          </div>
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
</div>
{% endfor %}
{% endblock %}

{% block script_include %}
{{ super() }}
<script type="text/javascript">
$(function() {
  $('.expand-button').click(function(e) {
    e.target.parentElement.nextElementSibling.style.setProperty('display', 'inline');
    e.target.parentElement.style.setProperty('display', 'none');
    e.preventDefault();
  });
});
</script>
{% endblock %}
