{% extends "base.html" %}

{% block committee_active %}active{% endblock %}

{% block main %}

<div class="jumbotron" style="background-color: white;">
  <h1 class="jumbotron-heading display-3">
    Members
  </h1>
  <h2 class="jumbotron-heading text-muted">
      Current and past committee members.
  </h6>
  <p class="lead">
    If you are interested in joining, come and join us to one of our events!
  </p>
</div>

{% for y in [2018, 2017] %}
<hr>
<div class="container-fluid pt-2">
  <div class="row">

    <div class="col-lg-2">
      <h1 class="display-2 text-center">{{ y }}</h1>
    </div>
    <div class="col-lg-10">
      <div class="container pt-2">

        <div class="row">
          {% for i in [1, 2, 3, 4, 5] %}
          <div class="col text-center mb-4">
            <div class="profile-picture-container">
              <div class="rounded-circle profile-picture" alt="Areej" width="256px" height="256px" style="background-image: url('https://c1.staticflickr.com/1/884/39228994670_255367ef3b_n.jpg');"></div>
            </div>
            <h2 class="mb-1">Areej Yawar</h2>
            <h5 class="mb-2"> Social Secretary </h5>
            <p>I really enjoy photography! I mean... why did you think I am on this committee?! I have other interests as well. But I'm really passionate about photography.</p>
          </div>
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
</div>
{% endfor %}
{% endblock %}

{% block script_include %}
{{ super() }}
<style media="screen">
.profile-picture-container {
  text-align: center;
  padding: 1rem;
  vertical-align: middle;
}
.profile-picture {
  height: 2.5in;
  width: 2.5in;
  align-content: fill;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 20%;
  margin-right: auto;
  margin-left: auto;
}

.committee-year {
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 1.5px 5px 10px #ccc;
}
</style>
{% endblock %}
