{% extends "base.html" %}

{% block events_active %}active{% endblock %}

{% block main %}
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="jumbotron-heading">{{ event_page.title }}</h1>
    {% if event_page.subtitle %}
    <p>{{ event_page.subtitle }}</p>
    {% endif %}
  </div>
</div>

<div class="container">

  {% if event_page.has_alert %}
  <div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">{{ event_page.alert_title }}</h4>
    <p>{{ event_page.alert_text }}</p>
  </div>
  {% endif %}

  <div class="row">

    <div class="col-lg-5 text-center order-lg-2">

      <div class="card mb-3">
        <div class="card-body">
          <table class="table mb-2 text-left">
            <tr>
              <th class="text-center" colspan="2">{{ event_page.regular_title }}</th>
            </tr>
            <tr>
              <td>Weekly Talks & Workshops</td>
              <td>Thursday, 7:30-9pm</td>
            </tr>
            <tr>
              <td>Semester photo competitions, Equipment rentals</td>
              <td>Contact us!</td>
            </tr>
          </table>
          <a href="mailto:{{general.email}}" class="card-link">Email Us</a>
          <a href="{{ general.fb_link }}" class="card-link">Facebook Page</a>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body pl-0 pr-0">
          <div class="card-title">
            <h2>{{ event_page.facebook_title }}</h2>
          </div>
          <iframe class="rounded" src='{{ general.fb_embed }}' width='340' height='410' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowTransparency='true'></iframe>
        </div>
      </div>

    </div>

    <div class="col-lg-7 order-lg-1">
      {% for event in events|reverse %}
      <div class="card event mb-3">
        <div class="row">
          <div class="col-lg-12" style="min-height: 10rem;">
            {% if event.image[1] -%}
            <div class="flickr-link" style="bottom:-1rem;right:15px;">
              <a href="{{ event.image[1] }}">photo on flickr</a>
            </div>
            {%- endif %}
            <img class="h-100 w-100" style="object-fit:cover;" src="{{ event.image[0] }}" alt="Event cover">
          </div>
          <div class="col-lg-12">
            <div class="card-body">
              <h5 class="card-title">{{ event.title }}</h5>
              <p class="event-date">{{ event.date }}</p>
              <p class="card-text">{{ event.text }}</p>
              {% if event.button %}
              <a href="{{ event.button_link }}" class="btn btn-primary">{{ event.button }}</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>

</div>
{% endblock %}
