{% extends "base.html" %}
{% block additional_css %}
<link rel="stylesheet" href="https://mathisgerdes.github.io/photosoc-edinburgh/css/index.css">
{% endblock %}

{% block main %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    {% for slide in home.slides %}
    <div class="carousel-item {% if loop.first %}active{% endif %}">
      <img class="d-block w-100" src="{{ slide.image }}" alt="First slide">
      <div class="container">
        <div class="carousel-caption text-right">
          <h1>{{ slide.heading }}</h1>
          <p> {{ slide.text }} </p>
          {% if slide.button -%}
          <p><a class="btn btn-lg btn-primary" href="{{ slide.button_link }}" role="button">{{ slide.button }}</a></p>
          {%- endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container-fluid">
  <h1 class="display-4 text-center">Upcoming</h1>
  <div class="row">
    {% for eventid in home.featured_events %}
    <div class="col-lg">
      <div class="card event">
        <div class="ratio-box-16by9">
          <div class="ratio-box-child">
            <img class="card-img-top ratio-box-img" src="{{ events[eventid].image }}" alt="Event Preview Image">
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ events[eventid].title }}</h5>
          <p class="event-date">{{ events[eventid].date }}</p>
          <p class="card-text">{{ events[eventid].summary }}</p>
          <a href="{{ events[eventid].fb_link }}" class="btn btn-primary">Facebook</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- Highlights and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container highlights">

  <!-- START THE FEATURETTES -->
  {% for feature in home.features %}
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="featurette-text col-md-7 {% if loop.index is divisibleby 2 %}order-md-2{% endif %}">
      <h2 class="featurette-heading">{{ feature.heading }} {% if feature.heading_muted -%}<span class="text-muted">{{ feature.heading_muted }}</span>{%- endif %}</h2>
      <p class="lead">
        {{ feature.text }}
      </p>
      {% if feature.button %}
      <a class="btn btn-primary" href="{{ feature.button_link }}">{{ feature.button }}</a>
      {% endif %}
    </div>
    <div class="col-md-5 {% if loop.index is divisibleby 2 %}order-md-1{% endif %}">
      <img class="featurette-image img-fluid mx-auto" alt="Feature Photo" style="width: 500px; height: 500px;" src="{{ feature.image }}">
    </div>
  </div>

  {% endfor %}
  <hr class="featurette-divider">
  <!-- /END THE FEATURETTES -->


</div> <!-- /.container -->
{% endblock %}
