{% extends "base.html" %}
{% block additional_css %}
<link rel="stylesheet" href="http://static.uoe.photography/css/index.css">
{% endblock %}

{% block header %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    {% for slide in page.slides %}
    <div class="carousel-item {% if loop.first %}active{% endif %}">
      <div class="carousel-background" style="background-image:url({{ slide.image[0] }});">
        <div class="w-100 h-100" style="background-color: rgba(32,26,22,.2);"></div>
      </div>
      {% if slide.image[1] -%}
      <div class="flickr-link">
        <a href="{{ slide.image[1] }}">photo on flickr</a>
      </div>
      {%- endif %}
      <div class="container">
        <div class="carousel-caption text-center">
          <h1>{{ slide.heading }}</h1>
          <p> {{ slide.text }} </p>
          {% if slide.button -%}
          <p><a class="btn btn-lg btn-primary" href="{{ slide.button_link }}" role="button">{{ slide.button }}</a></p>
          {%- endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% endblock %}

{% block main %}
<div class="container-fluid">
  <h1 class="display-4 text-center">Upcoming</h1>
  <div class="row">
    {% for eventid in page.featured_events %}
    <div class="col-lg">
      <div class="card event">
        <div class="ratio-box-16by9">
          {% if events[eventid].image[1] -%}
          <div class="flickr-link" style="bottom:-1rem;">
            <a href="{{ events[eventid].image[1] }}">photo on flickr</a>
          </div>
          {%- endif %}
          <div class="ratio-box-child">
            <img class="card-img-top ratio-box-img" src="{{ events[eventid].image[0] }}" alt="Event Preview Image">
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ events[eventid].title }}</h5>
          <p class="event-date">{{ events[eventid].date }}</p>
          <p class="card-text">{{ events[eventid].summary }}</p>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary float-right ml-2" data-toggle="modal" data-target="#modal{{eventid}}">
            View »
          </button>
          {% if events[eventid].button %}
          <a href="{{ events[eventid].button_link }}" class="btn btn-secondary float-right ml-2">{{ events[eventid].button }}</a>
          {% endif %}

          <!-- Modal -->
          <div class="modal fade" id="modal{{eventid}}" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <div>
                    <h3 class="modal-title" id="modalLongTitle">{{ events[eventid].title }}</h3>
                    <p class="event-date mb-0">{{ events[eventid].date }}</p>
                  </div>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  {{ events[eventid].full_text|safe }}
                </div>
                <div class="modal-footer">
                  {% if events[eventid].button %}
                  <a href="{{ events[eventid].button_link }}" class="btn btn-primary">{{ events[eventid].button }}</a>
                  {% endif %}
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div><!-- \Modal  -->
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- Highlights and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container highlights">

  <!-- START THE FEATURETTES -->
  {% for feature in page.features %}
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="featurette-text col-md-7 {% if loop.index is divisibleby 2 %}order-md-2{% endif %}">
      <h2 class="featurette-heading">{{ feature.heading }} {% if feature.heading_muted -%}<span class="text-muted">{{ feature.heading_muted }}</span>{%- endif %}</h2>
      <p class="lead">
        {{ feature.text }}
      </p>
      {% if feature.button %}
      <a class="btn btn-primary" href="{{ feature.button_link }}">{{ feature.button }}</a>
      {% endif %}
    </div>
    <div class="col-md-5 {% if loop.index is divisibleby 2 %}order-md-1{% endif %}">
      {% if feature.image[1] -%}
      <div class="flickr-link" style="bottom:-1rem;padding-right:15px;">
        <a href="{{ feature.image[1] }}">photo on flickr</a>
      </div>
      {%- endif %}
      <img class="featurette-image img-fluid mx-auto" alt="Feature Photo" style="width: 500px; height: 500px;" src="{{ feature.image[0] }}">
    </div>
  </div>

  {% endfor %}
  <hr class="featurette-divider">
  <!-- /END THE FEATURETTES -->


</div> <!-- /.container -->
{% endblock %}
